.chat-list-item{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 5px;
    border-radius: 1rem;
    padding-left : 10px ;
    height: 85px;
    padding-top: 10px;
}

.chat-list-item:hover{
    background-color: #D6E4E5;
}
.left-item{
    color: teal;
    font-size: 2.5rem;
}

.mid-item{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 1.1rem;
    color: gray;
    flex-grow: 4;
    overflow: hidden;
    height: auto;
}

.mid-item p {
    height: 30px;
    max-width: 250px;
    overflow: hidden;
}

.mid-item span {
    color: black;
    font-weight: 600;
}

.right-item{
    margin-top: 5%;
    margin-right: 6%;
}
