.container {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    background: #333333;
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}

/* .color-picker-container input {
    margin-top: 5px;
} */

.brushsize-container {
    display: inline;
    color: white;
    border-radius: 1rem;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.board-container {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1%;
    background: white;
}