.messenger {
  background-color: transparent;
  width: 32vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  margin-top: -31% ;
  margin-left: 65%;
}

.m {
  display: flex;
  flex-direction: column;
}

.p {
  background-color: #1a1b20;
  height: 60px;
  width: 60%;
  border-radius: 1rem;
  padding-top: 15px;
  padding-left: 10px;
  margin-left: 22%;
  margin-top: 3%;
}

.p p {
  color: rgb(207, 207, 207);
}

.msg-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 75vh;
  width: 32vw;
  /* margin-top: 5.5vh; */
}

.msg-bubble {
  width: 280px;
  height: auto;
  align-self: center;
  background-color: #1a1b20;
  border-radius: 1rem;
  color: #757679;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.msg-top2 {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 1.5%;
}

.msg-mid2 {
  margin-left: 5%;
  margin-top: -3%;
  margin-right: 2%;
  color: #c4c4c4;
  overflow: hidden;
  height: auto;
  word-wrap: break-word;
}

.msg-bottom2 {
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 1.5%;
  margin-top: -4%;
  color: grey;
}

#style2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #8b8b8b;
}

#style2::-webkit-scrollbar {
  width: 6px;
  background-color: #615959;
}

#style2::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(73, 73, 73);
}

.footer {
  align-self: center;
  margin-left: 7%;
}
.footer input {
  background: transparent;
  color: grey;
  border: 0px solid transparent;
  width: 60%;
  height: 50px;
  font-size: 1.1rem;
}

.footer input:focus {
  outline: none;
}

.footer button {
  border: 0px solid transparent;
  background-color: #10b664;
  border-radius: 0.5rem;
  width: 100px;
  color: white;
  height: 35px;
}

@media screen and (max-width:1920px) {
  .messenger {
    margin-top: -25%;
  }
}

@media screen and (max-width:1540px) {
  .messenger {
    margin-top: -31%;
  }
}

@media screen and (max-width:1480px) {
  .messenger {
    margin-top: -34%;
  }
}

@media screen and (max-height:640px) {
  .messenger {
    margin-top: -28%;
  }
}