.footer-item {
  /* position: absolute; */
  padding: 0;
  margin-top: 2%;
  margin-bottom: 0.3%;
  background-color: #1a1b20;
  width: 61.5%;
  height: 106px;
  border-radius: 2rem;
  /* margin-bottom: 0; */
  display: flex;
  margin-left: 3%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.footer-item .center-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex: 1;
}

.footer-item .center-item .icon-block {
  background: rgb(33, 36, 43);
  border: 3px solid #3a3d43;
  width: 65px;
  height: 65px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}
.footer-item .center-item .icon-block .icon {
  color: white;
  font-size: 20px;
}
.footer-item .center-item .icon-block .icon.red {
  color: #d93025;
}

.footer-item .center-item .icon-block .icon.blue {
  color: #3088fb;
}
.footer-item .center-item .icon-block:hover {
  cursor: pointer;
  /* box-shadow: 0 0 10px #ddd; */
}

.end-call {
  width: 120px;
  height: 60px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef5a5c;
  color: white;
  font-size: 1rem;
  margin: 0 12px;
}

.end-call:hover {
  cursor: pointer;
}

.meet-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f3f5;
  padding: 15px;
  border-radius: 5px;
}

.meet-link span {
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  background: none;
  flex: 1;
  color: #555;
}
.meet-link .icon {
  cursor: pointer;
  color: #555;
  font-size: 1.2rem;
}

/* .footer-item {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 90px;
	 background: #fff;
	 z-index: 1;
}


 .footer-item .left-item {
	 display: flex;
	 align-items: center;
	 height: 100%;
	 width: 350px;
}
 .footer-item .left-item .icon-block {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 padding: 0 20px;
}
 .footer-item .left-item .icon-block .icon {
	 margin-left: 10px;
	 font-size: 20px;
}
 .footer-item .left-item .icon-block:hover {
	 cursor: pointer;
	 background: #eee;
}

 
 .footer-item .right-item {
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
	 height: 100%;
	 width: 350px;
}
 .footer-item .right-item .icon-block {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 height: 100%;
	 width: 146px;
	 color: #555;
}
 .footer-item .right-item .icon-block .icon {
	 font-size: 20px;
	 margin-bottom: 10px;
}
 .footer-item .right-item .icon-block .title {
	 margin: 0;
	 font-size: 14px;
	 font-weight: 500;
}
 .footer-item .right-item .icon-block:hover {
	 cursor: pointer;
	 background: #eee;
}
  */
