:root{
    --rowHeight : 500px ;
    --colWidth : 400px ;
}

.room {
  background-color: rgb(33, 36, 43);
  height: 100vh;
  padding: 1%;
  margin: 0;
}
.video-grid {
  height: 70vh;
  width: 60vw;
  background-color: #1a1b20;
  border-radius: 2rem;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row ;
  grid-template-columns: repeat(auto-fit, minmax(var(--colWidth), 1fr));
  margin-top: 3%;
  margin-left: 3%;
  overflow: hidden;
  padding: 10px;
}

video{
  object-fit: contain;
}

.video-container {
  height: auto;
  position: relative;
  overflow: hidden;
  min-height: var(--rowHeight);
  min-width: var(--colWidth);
}

.video-container video {
  object-fit: cover;
  height: auto;
  width: auto;
}
