:root {
  --Height: 500px;
  --Width: 400px;
}

.room {
  background-color: rgb(33, 36, 43);
  height: 100vh;
  padding: 1%;
  margin: 0;
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
}
.video-grid {
  height: 70vh;
  width: 60vw;
  background-color: #1a1b20;
  border-radius: 2rem;
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 10px;
}

.video-container {
  height: var(--Height);
  width: var(--Width);
  position: relative;
}

.video-container video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.label {
  font-size: 1rem;
  color:white ;
  min-height: auto;
  min-width: 120px ;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  background: #1a1b20;
  z-index: 2 !important;
  position: absolute;
  top: 0;
}

video::-webkit-media-controls-volume-slider::-webkit-media-slider-container, video::-webkit-media-controls-timeline::-webkit-media-slider-container {
  display: none;
}