.room-header {
  position: absolute;
  top: 3%;
  right: 8%;
  height: auto;
  width:auto ;
  margin-bottom: 3px;
}

.toggle-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.chat-head {
  width: 10vw;
  height: 50px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 15px;
}

.participants-head {
  height: 50px;
  width: 10vw;
  font-size: 16px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.participants-head .icon-block {
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-head .icon {
  color: white;
}

.chat-head .icon-block {
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
