.sidelist-header {
  /* background-color: violet; */
  display: flex;
  justify-content: flex-start;
}

.sidelist-head {
  color: #385a64;
  font-weight: 600;
  /* margin-left: ; */
  font-size: 2.2rem;
}

.sidelist-btn {
  margin-left: 45%;
  
}

.line {
  border-bottom: 2px solid #a7b2b3;
  background-color: #a7b2b3;
  width: 92%;
}

.new-chat-btn{
  margin-top: 6%;
  background-color: #497174;
  color: white;
  width: 110px;
  height: 40px;
  border:0px solid transparent ;
  font-size: 1.1rem; 
  border-radius: 0.5rem;
}