.sidebar-div {
  background-color: #497174;
  height: 91vh;
  border-radius: 1rem;
  color: white;
  margin-left: 1.5%;

}

.sidebar-div .icon {
  font-size: 1.9rem;
  color: #a7bdbe;
  margin-left: 30%;
  margin-bottom: 10%;
  cursor: pointer;
  margin-top: 40%;
}

.sidebar-div .white{
    color: white;
}
